{% extends 'base_home.html' %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/follow_request.css' %}{% endblock %}
{% block content %}
<div class="folloing-area">
    <h1>죄송합니다.페이지를 사용할 수 없습니다.</h1>
    <p>클릭하신 링크가 잘못되었거나 페이지가 삭제되었습니다. <a href="{% url 'main' %}"> Instagram으로 돌아가기.</a></p>
</div>
<div class="user-list">
    <ul>
        {% for follow in follow_list %}
        <li>
            <p><a href="{% url 'post:user_post_list' follow.folloing %}">{{ follow.folloing }}</a></p>
            <button class="un_follow" id="follow" value="{{ follow.folloing }}">팔로잉</button>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
