<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base_main.css' %}">
    <link rel="stylesheet" href="{% block extrastyle %}{% endblock %}">
</head>
<body>
{% if user.is_anonymous %}
<div id="wrap">
    <header>
        <h1><a href="{% url 'main' %}">Instagram</a></h1>
    </header>
    <section>
        <article>
            <div class="iphone">
                <img src="{% static 'img/iphone.png' %}" alt="iphone">
            </div>
    {% block content %}
    {% endblock %}
        </article>
    </section>
    <footer>
        <p>made by Leeyejin</p>
    </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script>
    {% block javascript %}
    {% endblock %}</script>

</body>
</html>
{% else %}
    <script>
        location.href={% url 'post:post_list' %};
    </script>
{% endif %}