<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/common.css'%}">
    <link rel="stylesheet" href="{% static 'css/base_home.css' %}">
    <link rel="stylesheet" href="{% block extrastyle %}{% endblock %}">
</head>
<body>

    <div id="wrap">
        <header>
            <div>
                <h1><a href="{% url 'post:post_list' %}"></a></h1>
                <ul id="search">
                    <li>
                        <input type="text" placeholder="검색" id="search-form">
                        <div class="search-list-field">
                            <ul id="search-list">
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul id="nav-list">
                    <li><a href="{% url 'post:post_create' %}"></a></li>
                    <li>
                        <span></span>
                        <ul class="follower-request d_n">
                            {% load custom_tags %}
                            <li><p>팔로워 요청&nbsp;<span><a href="{% url 'post:follow_request_list' %}">{% follower_request user as count %} {{ count }} 건</a></span></p></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'post:user_post_list' user.username %}"></a></li>
                </ul>
            </div>
        </header>
        <section>
            <article>
                {% block content %}
                {% endblock %}
            </article>
        </section>
        <footer>

        </footer>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script>
    $("#search-form").change(function(){
            $("#search-list").html("");
            var word = $(this).val();
            if(word==""){
                return;
            }else{
                var url;
                var user_post;
                $.ajax({
                    url:'{% url "post:search" %}',
                    data:{
                        'word':word
                    },
                    dataType:'json',
                    success:function(data){
                        if(data.flag){
                            $(".search-list-field").css("display","block");
                            if(data.data) {
                                for (var i = 0; i < data.data.length; i++) {
                                    user_post = data.data[i].username;
                                    url = "{% url 'post:user_post_list' 1234 %}".replace(/1234/, user_post.toString());
                                    $("#search-list").append(
                                         "<li><div class='profile-img'><img src='/media/" + data.profile[i]['avatar'] + "'></div><div class='profile-name'><a href=" + url + " class='user-post-list-link'>" + data.data[i]['username'] + "</a></div></li>"
                                    );
                                }
                            }
                            if(data.tag){
                                url = "{% url 'post:tag_list' 1234%}".replace(/1234/,data.tag);
                                $("#search-list").append(
                                        "<li><div class='tag-icon'><div></div></div><div class='tag-name'><a href=" + url + " class='user-post-list-link'>#" + data.tag + "</a></div><div class='tag-count'>"+data.tag_count+"개의 글</div></li>"
                                    );
                                }
                        }else{
                            $(".search-list-field").css("display","none");
                        }
                    }
                });
            }
        });
        $("#nav-list > li:nth-child(2) > span").on("click",function(){
            $(".follower-request").toggleClass('d_n');
            $(".follower-request").toggleClass('d_b');
        });
    {% block javascript %}
    {% endblock %}</script>
</body>
</html>
