<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base_home.css' %}">
</head>
<body>
<div id="wrap">
    <header>
        <h1>
            <a href="{% url 'post:post_list' %}"></a>
        </h1>
        <input type="text" placeholder="검색" id="search">
    </header>
    {% block content %}
    {% endblock %}
</div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
    {% block javascript %}
    {% endblock %}</script>
</body>
</html>
