{% extends 'base_home.html' %}
{% block content %}
    <a href="{% url 'auth:logout' %}">logout</a>
    <a href="{% url 'post:user_post_list' user.username %}"><h1>{{ user.username }}</h1></a>
    <a href="{% url 'post:post_create' %}">new_post</a>

    <ul>
        {%  if posts %}
            {% for post in posts %}
                <li>
                    <a href="{% url 'post:post_detail' post.id %}"><div>
                        <img src="{{ post.image.url }}" alt="image">
                        {{ post.content }}
                        {{ post.author }}
                        {{ post.date }}
    {#                    timedelta로 시간 표시#}
                        <a href="{% url 'post:post_update' post.id %}">Modify</a>
                    </div></a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}