{% extends 'base_home.html' %}
{% block content %}
    <h1>{{ author.username }}</h1>
{% if author != user %}
        <button type="button" id="follow">{% if is_follow %}팔로우{% else %}팔로잉{% endif %}</button>
{% endif %}
<h3>게시물 {{ posts|length }}</h3>
<span class="follower_num">팔로우 {{ follower }}</span>
<span class="folloing_num"> 팔로잉 {{ folloing }}</span>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    <div>
                        <img src="{{ post.image.url }}" alt="img">
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascript %}
    // 팔로우 기능
    $("#follow").on("click",function(){
        console.log("follow");
        $.ajax({
            url:'{% url "post:follow" author.username %}',
            dataType:'json',
            success: function(data){
                $(".follower_num").text("팔로우 "+data.follow_count);
                $("#follow").text(data.message);
            }
        });
    });
{% endblock %}
