{% extends 'base_main.html' %}
{% load staticfiles %}
{% block extrastyle %}
{% static 'css/sign_up_login.css' %}
{% endblock %}
{% block content %}
<div id="login_form">
    <h2></h2>
    <table>
        <form action="." method="post">{% csrf_token %}
            <tr>
                <td><input type="text" id="id_username" name="username" placeholder="username" required></td>
            </tr>
            <tr>
                <td><input type="password" id="id_password" name="password" placeholder="password" required></td>
            </tr>
            <tr>
                <td><button type="submit">로그인</button></td>
            </tr>
            </form>
        {% if forms.errors %}
            <script>
                alert("로그인에 실패했습니다. 다시 입력해주세요.");
            </script>
        {% endif %}
    </table>
</div>
<div class="login_form_2">
    계정이 없으신가요? <a href="{% url 'main' %}">가입하기</a>
</div>
{% endblock %}
