{% extends 'base_home.html' %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/config.css' %}{% endblock %}
{% block content %}
<div class="menu">
                    <ul>
                        <li><a href="{% url 'post:profile_update' %}"><p>프로필 편집</p></a></li>
                        <li><a href="#"><p>비밀번호 변경</p></a></li>
                        <li><a href="{% url 'account:logout' %}"><p>로그아웃</p></a></li>
                    </ul>
                </div>
                <div class="edit_area">
                    <form action="." method="post">{% csrf_token %}
                        <table>
                            {% if forms.errors %}
                             <script>
                                alert("비밀번호 변경에 실패했습니다. 다시 입력해주세요.");
                            </script>
                            {% endif %}
                            <tr>
                                <td><div><img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}"></div></td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>이전 비밀번호</td>
                                <td><input type="password" name="old_password" required></td>
                            </tr>
                            <tr>
                                <td>새 비밀번호</td>
                                <td><input type="password" name="new_password1" required></td>
                            </tr>
                            <tr>
                                <td>새 비밀번호 확인</td>
                                <td><input type="password" name="new_password2" required></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" valule="비밀번호 변경"></td>
                            </tr>
                        </table>
                    </form>
                </div>

{% endblock %}