<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_anonymous %}
<a href="{% url 'social:begin' 'google-oauth2' %}">Google로 로그인</a>
{#<a href="{% url 'social:begin' 'facebook' %}">Facebook으로 로그인</a>#}
<form action="." method="post">{% csrf_token %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <label for="id_email"><input type="email" id="id_email" name="email" required placeholder="email"></label><br>
    <label for="id_last_name"><input type="text" id="id_last_name" name="last_name" required placeholder="name"></label><br>
    <label for="id_username"><input type="text" id="id_username" name="username" required placeholder="username"></label><br>
    <label for="id_password1"><input type="password" id="id_password1" minlength="8" name="password1" required placeholder="password1"></label><br>
    <label for="id_password2"><input type="password" id="id_password2" minlength="8" name="password2" required placeholder="password2"></label><br>
    <input type="submit" value="가입">

</form>
    {# 만약 session이 있으면  post-list로 이동#}
계정이 있으신가요?<a href="{% url 'auth:login' %}">Login</a>
{% else %}
    <script>
        document.location.href={% url 'post:post_list' %}
    </script>
{% endif %}

</body>
</html>