<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base_home.css' %}">
</head>
<body>
<div id="wrap">
    <header>
        <a href="{% url 'post:post_list' %}"><h1>instagram</h1></a>
        <form action="." method="post">
            <input type="text" placeholder="검색">
        </form>
    </header>
    {% block content %}
    {% endblock %}
</div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>{% block javascript %}
    {% endblock %}</script>

</body>
</html>