header{
   width:100%;
   height:80px;
   border-bottom:1px solid #eee;
}
section{
    width:100%;
    height:auto;
    min-height:800px;
    overflow:auto;
}
footer{
    width:100%;
    height:90px;
}
header > div{
   width:50%;
   height:100%;
   margin:0 auto;
}
section,footer{
   background-color:#f8f8f8;
}
header h1{
    display:inline-block;
    float:left;
    height:100%;
    width:15%;
}
header h1 a{
    display:inline-block;
    width:176px;
    height:35px;
    background-size:350px;
    background:url("../img/icon.png") no-repeat right bottom;
    background-position:0 -228px;
    margin-top:20px;
}
#search{
    width:200px;
    height:100%;
    float:left;
    margin-left:25%;
}
#search > li {
    width:100%;
    height:100%;
}
#search > li > input{
    width:100%;
    height:25px;
    border:1px solid #eee;
    border-radius:5px;
    margin-top:20px;

}
#search-list{
     width:110%;
    max-height:200px;
    overflow-y:scroll;
    overflow-x:hidden;
}
#search-list li{
    width:198px;
    height:50px;
}

#nav-list{
    width:200px;
    height:100%;
    float:right;
}
#nav-list > li {
    width:calc(200px/3);
    height:100%;
    float:left;
}
#nav-list > li > a, #nav-list > li > span{
    display:inline-block;
    width:25px;
    height:35px;
    margin-top:20px;
    margin-left:20px;
}
#nav-list > li:first-child > a{
    background:url('../img/icon.png') no-repeat left bottom;
    background-position:-405px -340px;
}
#nav-list >  li:nth-child(2) > span{
    background:url('../img/icon.png') no-repeat left bottom;
    background-position:-470px -309px;
    height:25px;
    margin-top:23px;
    cursor:pointer;
}
#nav-list > li:last-child > a{
    background:url('../img/icon.png') no-repeat left bottom;
    background-position:-236px -414px;
    margin-top:18px;
}

.search-list-field{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-top: 30px;
    background-color: #fff;
    max-height: 200px;
    display:none;
    position:relative;
}
.profile-img , .tag-icon{
    width: 35px;
    height: 35px;
    float: left;

    margin-left: 10px;
    margin-top: 7px;
}
.profile-img{
    border-radius: 100px;
    overflow: hidden;
}
.tag-icon div{
    background: url(../img/icon2.png) no-repeat left bottom;
    background-position: -13px -373px;
    width: 17px;
    height: 35px;
    background-size: 400px 400px;
    margin-left:9px;
}
.profile-img img{
    max-width:100%;
    height:auto;
}
.profile-name , .tag-name , .tag-count{
    width: 130px;
    height: auto;
    float: left;
    text-align: center;
    margin-top: 13px;
}
.tag-name,.tag-count {
    margin-top:0;

}
.tag-count{
    font-size:12px;
    color:#6c6c6c;
    font-weight: bold;
}
.profile-name a , .tag-name a{
    color:#000;
    font-size:13px;
    text-decoration: none;
    font-weight: bold;
}
/* follower request */
.follower-request{
    width: 200px;
    margin-top: 20px;
    margin-left: -140px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
}
.d_n{
    display:none;
}
.d_b {
    display:block;
}
.follower-request li{
    height:50px
}
.follower-request p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 45px;

}
.follower-request span a{
    color:#ec4955;
    font-weight: bold;
    text-decoration: none;
}
@media (max-width: 1350px) {

    header > div{
        width:70%;
    }
}
@media (max-width:1100px) {
    #search{
        display: none;
    }
    article{
        width:70%;
        margin:0;
    }
}