
header{
   width:100%;
   height:80px;
   border-bottom:1px solid #eee;
}
section{
    width:100%;
    height:auto;
    min-height:800px;
    overflow:auto;
}
footer{
    width:100%;
    height:90px;
}
header > div{
   width:50%;
   height:100%;
   margin:0 auto;
}
section,footer{
   background-color:#f8f8f8;
}
header h1{
    display:inline-block;
    float:left;
    height:100%;
    width:15%;
}
header h1 a{
    display:inline-block;
    width:176px;
    height:35px;
    background-size:350px;
    background:url("../img/icon.png") no-repeat right bottom;
    background-position:0 -228px;
    margin-top:20px;
}
#search{
    width:200px;
    height:100%;
    float:left;
    margin-left:25%;
}
#search > li {
    width:100%;
    height:100%;
}
#search > li > input{
    width:100%;
    height:25px;
    border:1px solid #eee;
    border-radius:5px;
    margin-top:20px;

}
#search-list{
    width:100%;
    max-height:200px;
    margin-top:32px;
    background-color:#fff;
    overflow-y:scroll;
    overflow-x:hidden;
    position:relative;
}
#search-list li{
    width:198px;
    height:50px;
    border:1px solid #eee;
    border-top:none;
}

#nav-list{
    width:200px;
    height:100%;
    float:right;
}
#nav-list li {
    width:calc(200px/3);
    height:100%;
    float:left;
}
#nav-list li a{
    display:inline-block;
    width:25px;
    height:35px;
    margin-top:20px;
    margin-left:20px;
}
#nav-list li:first-child a{
    background:url('../img/icon.png') no-repeat left bottom;
    background-position:-405px -340px;
}
#nav-list li:nth-child(2) a{
    background:url('../img/icon.png') no-repeat left bottom;
    background-position:-470px -309px;
    height:25px;
    margin-top:23px;
}
#nav-list li:last-child a{
    background:url('../img/icon.png') no-repeat left bottom;
    background-position:-236px -414px;
    margin-top:18px;
}
#profile-img , #search-list div:first-child{
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius:100px;
}
#search-list div:first-child{
    width:50px;
    height:50px;
    float:left;
}
#profile-img img, #search-list div img{
    max-width:100%;
    height:auto;
}
.profile-name{
    border-radius:0px;
    width:60%;
    text-align:center;
    float:left;
    height:100%;
}
.profile-name > a{
    display:inline-block;
    margin-top:10px;
}
@media (max-width: 1350px) {

    header > div{
        width:70%;
    }
}
@media (max-width:1100px) {
    #search{
        display: none;
    }
    article{
        width:70%;
        margin:0;
    }
}