@import 'common.css';
 header{
            width:100%;
            background: #d92d77;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #ee583f, #bd3381);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #ee583f, #bd3381); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            height:5%;
        }
        header h1 {
            font-weight: bold;
            font-size:15px;
            padding:15px;
            font-size:15px;
        }
        header a,header a:link,header a:visited{
            color:#fff;
        }
        section,footer{
            background-color:#fafafa;
            width:100%;
        }
        section{
            height:90%;
            overflow: auto;
        }
        article{
            width:40%;
            margin:0 auto;
            height:70%;
            margin-top:8%;
            min-width:400px;
        }
        article > div ,aside{
            width:49%;
            height:100%;
            float:left;
            min-width:200px;
        }

        article > div > img{
            width:90%;
        }