{% extends 'base_home.html' %}
{% load custom_tags %}
    {% block content %}
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="image">
    {% endif %}
<a href="{% url 'post:user_post_list' post.author.username %}">{{ post.author }}</a>
    {{ post.content|tag_link:post }}
    {{ post.date }}
    좋아요 <a href="" id="like_count">{{ like|length }}</a>
    <button type="button" id="like" {% if is_like %}class="like"{% else %}class="liked"{% endif %}>♥</button>
    {% if post.author == user %}
    <a href="{% url 'post:post_update' post.id %}">수정</a>
    <a href="{% url 'post:post_delete' post.id %}">삭제</a>
    {% endif %}
    <h2>댓글</h2>
    <ul>
        {% for reple in reple_list %}
        <li>{{ reple.author }}:{{ reple.content }}</li>
        {% endfor %}
    </ul>
    <form action="." method="post">{% csrf_token %}
        댓글:
        {{ form.as_table }}
        <input type="submit" value="저장">
    </form>
{% endblock %}
{% block javascript %}
$("#like").on("click",function(){
    $.ajax({
        url:'{% url 'post:like' post.id %}',
        dataType:'json',
        success:function(data){
            $("#like_count").text(data.like_count);
            $("#like").attr("class",data.message);
        }
    });
});
{% endblock %}